* {
	margin: 0;
	padding: 0;
}
body {
	width: 100%;
	gap: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(212, 226, 226);
}
.input-group {
	width: 80vh;
	height: 80px;
	border-radius: 10px;
	display: grid;
	place-items: center;
	gap: 15px;
	margin-top: 50px;
}
.form {
	width: 80vh;

	padding: 10px 10px;
	border-radius: 10px;
	color: rgb(0, 0, 0);
	display: grid;
	gap: 10px;
}
select {
	width: 80vh;
	height: 40px;
	padding: 10px 10px;
	border: 2px solid black;
	color: rgb(0, 0, 0);
	border-radius: 10px;
	background-color: rgb(247, 247, 247);
}

input {
	width: 76vh;
	height: 25px;
	padding: 10px 10px;
	border-radius: 10px;
	color: rgb(0, 0, 0);
}
input:hover {
	border: 2px solid rgb(63, 41, 41);

	box-shadow: 1px 1px 21px rgb(75, 51, 51);
}
select:hover {
	border: 2px solid rgb(63, 41, 41);

	box-shadow: 1px 1px 21px rgb(75, 51, 51);
}
.til {
	width: 80vh;
	height: 70px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.hato {
	border: 2px solid red;
	box-shadow: 1px 1px 21px rgba(255, 0, 0, 1);
}

.zor {
	border: 2px solid rgb(136, 255, 0);
	box-shadow: 1px 1px 21px rgb(255, 251, 0);
}

button {
	padding: 10px 25px;
	border: none;
	border-radius: 10px;
	border: 2px solid black;
	margin-top: 30px;
}
button:hover {
	border: 2px solid rgb(63, 41, 41);

	box-shadow: 1px 1px 21px rgb(75, 51, 51);
}
h4 {
	font-size: 20px;
}
p {
	font-size: 15px;
	color: red;
}
.mb-3 {
	display: flex;
	flex-direction: column;
	gap: 30px;

}
